body{
    background-color: aliceblue;
    color: black;
}
h1{
    color: blue;
    font-size: large;
}
h2{
    background-color: burlywood;
    color: royalblue;
    font-size: medium;
}
img{
    margin-inline-start: auto;
    margin: 10px;
    image-orientation: flip;
    border-color: black;
    grid-template-columns: auto;
}
table{
    box-sizing: border-box;
}
tr{
    border: 3cap;
    border-radius: 10%;
    margin-block: 10px;
}
 